<%= render :partial => 'services/list' %>

<h1><%= @event.name %></h1>
<div id="photos">
  <% if @photos %>
    <ul>
    <% @photos.each do |photo| %>
      <li><%= image_tag photo.file.url %></li>
    <% end %>
    </ul>
  <% else %>
    There are no photos yet
  <% end %>
</div>